* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("img/background-garden.jpg");
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.background {
    background-color: rgba(255, 226, 230, 0.7);
    height: 100%;
    width: 90vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    font-family: "Pinyon Script", cursive;
    font-size: 60px;
    text-align:center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.subHeader1, .subHeader2 {
    font-family: "Cormorant Garamond", serif;
    font-size: 25px;
    text-align: center;
}

.subHeader1 {
    margin-bottom: 5px;
}
.subHeader2 {
    margin-bottom: 10px;
}

.choiceSelection {
    display: flex;
    justify-content: space-between;
    width: 75vmin;
}

.playerChoiceDeclare, .computerChoiceDeclare, .scoreIndicator, .finalScore {
    font-family: "Cormorant Garamond", serif;
    font-size: 25px;
    text-align: center;
    margin-bottom: 15px;
}

.playerChoice {
    display: flex;
    flex-direction: column;
}

.computerChoice {
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.computerChoicePicture img{
    width: 300px;
    height: 225px;
    margin-top: 67px;
    background-color: white;
    border-radius: 10%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.btn {
    background: none;
    border: none;
}

ul img {
    width: 150px;
    height: 113px;
    border-radius: 10%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

ul img:hover {
    transform: translateY(-3px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
